<div class="header_and_footer">
  <div id="footer">
    <a href="https://github.com/next-l/enju_root">Next-L Enju Root PC <%= EnjuPc::VERSION %></a>
    <br />
    Developed by <a href="https://github.com/nabeta">Kosuke Tanabe</a> and <a href="http://www.next-l.jp/">Project Next-L</a>.
  </div>
</div>
