<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title">New classification</h1>
<div id="content_list">

<%= render 'form' %>

</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <%= link_to 'Back', classifications_path %>
</div>
